@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional global styles */
body {
  @apply bg-gray-50 text-gray-900;
}

/* Tailwind scrollbar hide plugin or custom */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
